# IDEA 编辑器标准
# https://editorconfig.org/
# 最顶层的 EditorConfig 文件
root = true

[*]
# 默认文件编码
charset = utf-8
# Unix 风格的换行符
end_of_line = lf
# 文件缩进
indent_style = space
# 4 空格星人
indent_size = 4
max_line_length = 100

# https://github.com/uutils/coreutils/blob/main/.editorconfig
insert_final_newline = true
trim_trailing_whitespace = true

[{[Mm]akefile{,.*},*.{mak,mk,[Mm][Aa][Kk],[Mm][Kk]},[Gg][Nn][Uu]makefile}]
# makefiles ~ TAB-style indentation
indent_style = tab

[*.bash]
# `bash` shell scripts
indent_size = 4
indent_style = space
# * ref: <https://github.com/foxundermoon/vs-shell-format/blob/bc56a8e367b04bbf7d9947b767dc82516a6155b7/src/shFormat.ts>
# shell_variant = bash ## allow `shellcheck` to decide via script hash-bang/sha-bang line
switch_case_indent = true

[*.java]
# 超过 100 个引用才会用 * 来全部引用
ij_java_class_count_to_use_import_on_demand = 100
ij_java_names_count_to_use_import_on_demand = 100
# import 包名顺序
ij_java_imports_layout = java.**, javax.**, |, au.com.luben.**, |, *, |, $*

[.editorconfig]
ij_editorconfig_align_group_field_declarations = false
ij_editorconfig_space_after_colon = false
ij_editorconfig_space_after_comma = true
ij_editorconfig_space_before_colon = false
ij_editorconfig_space_before_comma = false
ij_editorconfig_spaces_around_assignment_operators = true

[*.{js, html}]
# 缩进尺寸
indent_size = 2
# 文件末尾新增一行
insert_final_newline = true
# 删除换行符之前的任何空白字符
trim_trailing_whitespace = true

[{*.yaml,*.yml}]
indent_size = 2
